body{
    display: flex;
    margin: 0px;
}

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color:  hsl(30, 38%, 92%);
    justify-content: center;
    align-items: center;
}

.card_container{
    display: flex;
    height: 400px;
    width: 500px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

.image_card{
    flex: 1;
    background-image: url('../images/image-product-desktop.jpg');
    background-size: cover;
}

.text_card{
    flex: 1;
    padding: 32px;
}

.little_title,
.description,
.little_price,
.add_cart{
    color:  hsl(228, 12%, 48%);
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 500;
}

.little_title{   
    text-transform: uppercase; 
}

.title{
    font-family: "Fraunces";
    font-weight: 700;
    color: hsl(212, 21%, 14%);
}


.description{
    margin-top: 15px;
}