body {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: hsl(30, 38%, 92%);
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.card_container {
    display: flex;
    width: 510px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.image_card {
    flex: 1.2;
    background-image: url('../images/image-product-desktop.jpg');
    background-size: cover;
}

.text_card {
    flex: 1;
    padding: 30px;
}

.little_title,
.description,
.little_price,
.btn{
    color:  hsl(228, 12%, 48%);
    font-size: 13px;
    font-family: "Montserrat";
    font-weight: 500;
}

.little_title{   
    text-transform: uppercase;
    letter-spacing: 5px;
}

.title{
    font-family: "Fraunces";
    font-weight: 700;
    color: hsl(212, 21%, 14%);
    line-height: 1;
}


.description{
    margin-top: 15px;
    line-height: 1.7;
}

.prices{
    margin: 20px 0px;
    display: flex;
    align-items: center;
}

.big_price{
    font-size: 25px;
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces";
    font-weight: 700;
}

.little_price{
    margin-left: 18px;
    font-size: 12px;
    text-decoration: line-through;
}

.btn{
    height: 43px;
    border-radius: 7px;
    overflow: hidden;
}

.btn > button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    background-color: hsl(158, 36%, 37%);
    border: none;
    gap: 10px;
    font-weight: 700;
}

.btn > button > img{
    position: static;
    width: auto;
    height: auto;
}

.btn > button:hover{
    cursor: pointer;
}